<!DOCTYPE html>
<html>
	<head>
		<title>CS 100 Project</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="./static/css/w3.css">
		<link rel="stylesheet" href="./static/css/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="w3-container">
			<div class="w3-panel w3-leftbar w3-pale-blue w3-border-blue">
				<div class="w3-margin-top">
					<label>Search for a Location</label>
					<input id="input" class="w3-input" type="text">
					<button id="button" class="w3-button w3-black">Submit</button>
				</div>
				<br>
			</div>
			<div class="w3-display-container">
				<img id="image" class="w3-image w3-hover-opacity" src="./static/img/map-search.jpg" alt="Starting to code.">
			</div>
		</div>
		<script type="text/javascript" src="./static/js/map.js"></script>
		<script type="text/javascript">
		
			/* global getLocationImage */
			
			var button = document.querySelector('#button');
			var input = document.querySelector('#input');
			var image = document.querySelector('#image');
			button.addEventListener('click', function(e) {
				getLocationImage(input.value);
			});

		</script>
	</body>
</html>

<!DOCTYPE html>
<html>
<body>

<h1>Location Map</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
var illinoisTech = {lat: 41.834873, lng: -87.627006};
var mapProp= {
    center:new google.maps.LatLng(41.834873,-87.627006),
    zoom:16,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position: illinoisTech});

marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuggRcxWHsDzmn4VPP4bGa0EBIpbem3QI&callback=myMap"></script>
</body>
</html>


